/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap'); */


*{
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;


} 

li.nav-item{
    position: relative;
}


a.nav-link{
    color: #000;
    /* font-weight: 600; */


}

a.nav-link::after{
    content: "";
    position: absolute;
    top: 30px;
    width: 0;
    height: 3px;
    background-color: rgb(245, 66, 66);
    left: 0;
    transition: 0.3s;
}
a.nav-link:hover::after{
    width: 100%;
}

/* * ============dropdown======== */ */

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    font-weight:600;
    color:#443;
    padding:16px;
    font-size:16px;
    border:none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    /* min-width: 120px; */
    padding: 12px;
    width:max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #222;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
/* ============SWIPER HERO======= */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* padding-top: 60px; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display
  : -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100vh; */
  object-fit: cover;
}

.her{
  background: linear-gradient(110.63deg, rgba(0, 0, 0, 0.25) 1.49%, rgba(0, 0, 0, 0.13412) 65.12%, rgba(0, 0, 0, 0) 92.07%),
   url(img/gift\ \(3\).jpg);
  background-size:cover;
  background-position: center;
  color: #ddd;
  font-style: italic;
  min-height: 100vh;
  margin-top: 50px;
}

.bday{
  background-image: url(img/birth.jpg);
  background-size:cover;
  background-position: center;
  margin-block: 50px;
  min-height: 100vh;

 
}

.diwali{
  background-image: url(img/diwali.jpg);
  background-size:cover;
  background-position: center;
  margin-top: 50px;
  min-height: 100vh;
  color: #fff;
  

}


/* ==========NUMBERS-====== */

.num{
  gap: 150px;
  justify-content: center;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  /* border-radius: 8px; */
}

/* =======DEALS============ */

.deals{
  background: radial-gradient(rgb(255, 172, 185),rgb(249, 164, 176));
}

.sale{
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;


}

.best.card img{
  height: 205px;
}

/* ============TESTOMINALS========= */

.review{
  padding:30px 15px;
  border-radius: 8px;
  text-align: center;
  /* background:radial-gradient(white,rgb(232, 232, 232)); */
  background: radial-gradient(hsl(0, 0%, 95%),#fbb2bd);


}




.review img{
  width: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  display: block;
  margin: auto;
}

.tesimonial .slide{
  flex-basis: 55%;
  margin-right: 25px;
}

.tesimonial.slide:focus{
  background-color: #000;
}






.review .texts{
  font-size: 16px;
  line-height: 30px;
}

.stars{
  color: gold;
}

/* ==========PERSONALISED======= */

section.custom{
  /* background:radial-gradient(rgb(255, 164, 179),lightpink); */
  /* background-image: url(img/back.jpg); */

  background: linear-gradient(22.23deg, rgba(0, 0, 0, 0.6) 31.08%, rgba(0, 0, 0, 0.6) 60.68%, rgba(0, 0, 0, 0) ), url(img/custom.jpg);
  background-size: cover;
  background-position:left;
  color: #fff;
}

.per{
  padding: 10px 25px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: radial-gradient(pink,rgb(255, 124, 124));
}

.per p{
  font-weight: 600;
}

.per img{
  width: 200px;
  height:200px
  
}

/* ========FORM======== */

section.form{
  /* background:linear-gradient(rgb(255, 183, 183),rgb(82, 82, 82)) */
  background-color:rgb(252, 155, 170)

  
}

.form .container{
  margin-block: 20px;
  padding:20px;
  background-color:#fff ;
  border-radius: 7px;
}

.form select{
  text-align: center;
  text-transform: capitalize;
  width: 250px;
  border: 2px solid black;
  box-shadow: #000,#444;
  font-weight: 600;
}

.form label{
  font-weight:700;
  text-decoration:underline;
  color:#000;
}

.form input{
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 20px;
  width: 250px;
  height: 40px;
  margin-top: 0px;

}

/* ==BIRTHDAY====== */

.choose h5{
  padding: 10px 20px;
  background-color: rgb(242, 170, 194);
  box-shadow: #000,#555;
  /* color: #ddd; */
  border-radius: 6px;
  font-size: 16px;

}

.choose h5:hover{
  text-decoration: underline;
  transition: 0.3s;
  background-color: #ff7ca7;
  cursor: pointer;

}

.nav-pills{
  font-size: 20px;
}


section.selection{
  background: radial-gradient(rgb(255, 172, 185),rgb(249, 164, 176));
  padding-block:30px;
}


footer{
  background: radial-gradient(hsl(0, 51%, 63%),rgb(245, 21, 51));
  text-decoration: none;
}

@media (max-width:760px) {
  .card{
  display: block;
    margin: auto;
    margin-top: 14px;
  }

  .num{
    flex-wrap: wrap;
  }




  
  
}
